<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="bootsConnectionString_" connectionString="Data Source=KIT-3;Initial Catalog=boots2;Persist Security Info=True;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient" />
    <add name="bootsConnectionString" connectionString="Data Source=.;Initial Catalog=boots;Persist Security Info=True;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient" />
    <add name="bootsConnectionString2" connectionString="Data Source=10.29.251.110;Initial Catalog=boots;Persist Security Info=True;User ID=sa;Password=P@$$w0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="8192"/>
    <globalization uiCulture="en" culture="en-US"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <identity impersonate="false"/>
  </system.web>
</configuration>